.parentEmerging {
  width: fit-content;
  margin: 30px auto;
  border: 1px solid black;
  font-size: 12px;
  padding: 13px 10px;
  border-radius: 13px 13px 0px 0px;
  line-height: 20px;
}

.bold {
  font-weight: bold;
  text-align: center;
}
