.mainLicenseAtention{
    display: flex;
    gap: 2rem;
    align-items: center;
}
.pictureLicenseAttenstion{
    width: 180px;
    height: 130px;
    background-color: var(--ant-primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    border-radius: 5px;
}
.pictureLicenseAttenstion p {
    color: white;
}
.atentionLicense{
display: flex;
flex-direction: column;
gap: 2rem;
color:var(--ant-primary-color) ;
font-weight: bold;
}
@media (max-width:  991px) {
    .atentionLicense {
      font-size:  12px;
    }
    .pictureLicenseAttenstion p {
        font-size:  12px;
    }
  }