.ant-steps-item-wait
  > .ant-steps-item-container
  > .ant-steps-item-content
  > .ant-steps-item-description {
  color: #817f7f;
}

.ant-steps-item-process
  > .ant-steps-item-container
  > .ant-steps-item-content
  > .ant-steps-item-description {
  color: #817f7f;
}

.ant-steps-item-wait .ant-steps-item-icon > .ant-steps-icon {
  color: #000;
}

.ant-steps-item-process
  > .ant-steps-item-container
  > .ant-steps-item-content
  > .ant-steps-item-description {
  color: rgb(0, 77, 129) !important;
}

.ant-steps-item-finish
  > .ant-steps-item-container
  > .ant-steps-item-content
  > .ant-steps-item-description {
  color: rgb(0 114 255) !important;
}

.ant-steps-item-title::after {
  left: 0 !important;
  right: 100% !important;
}

.ant-steps-horizontal:not(.ant-steps-label-vertical)
  .ant-steps-item:first-child {
  padding-bottom: 50px !important;
}

.ant-steps-horizontal:not(.ant-steps-label-vertical) .ant-steps-item {
  padding-left: 35px;
}

.ant-steps-item-title::after {
  left: 0 !important;
  right: 100% !important;
}

.ant-steps-item-description {
  position: absolute;
  right: 2px;
  top: 35px;
  font-size: 10px !important;
  font-weight: bold;
}

@media screen and (max-width: 575px) {
  .ant-steps-item-description {
    position: absolute !important;
    // right: 3px !important;
    top: 0px !important;
    // gap: 5;
  }
}

.ant-steps-vertical > .ant-steps-item .ant-steps-item-content {
  // max-width: ;
}

.ant-steps-item-error
  > .ant-steps-item-container
  > .ant-steps-item-content
  > .ant-steps-item-description {
  color: #ff0003 !important;
}

.ant-steps-item-edit
  > .ant-steps-item-container
  > .ant-steps-item-content
  > .ant-steps-item-description {
  color: #ffa600 !important;
}

.ant-steps-item-edit .ant-steps-item-icon > .ant-steps-icon {
  color: #ffa600 !important;
}

.ant-steps-item-edit .ant-steps-item-icon {
  border-color: #ffa600 !important;
}

.ant-steps-item-error .ant-steps-item-icon {
  border-color: #ff0003 !important;
}

.ant-steps-item-error .ant-steps-item-icon > .ant-steps-icon {
  color: #ff0003 !important;
}

@media screen and (min-width: 576px) and (max-width: 900px) {
  .ant-steps-item-description {
    position: absolute !important;
    right: 8px !important;
    top: 35px !important;
    // gap: 5;
  }
}

.ant-steps-item-icon {
  width: 27px !important;
  height: 27px !important;
  font-size: 14px !important;
  line-height: 28px !important;
}

.ant-steps-horizontal:not(.ant-steps-label-vertical)
  .ant-steps-item:first-child {
  padding-bottom: 50px !important;
}
