.login-header {
  height: 140px;
  display: flex;
  align-items: center;
  background-color: $blue-input;

  section {
    width: 33%;
    display: flex;
    align-items: center;
  }

  .img2 {
    justify-content: center;
  }

  .img1 {
    justify-content: flex-start;
    margin-right: 50px;
  }

  .img3 {
    justify-content: flex-end;
    margin-left: 30px;
  }
}

.ant-menu-overflow {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #0c8bb0 !important;
  flex-wrap: wrap;
  height: fit-content;
}

.ant-menu-horizontal {
  margin-top: 3px;
}

.ant-menu {
  color: $white-base !important;
  font-size: 15px !important;
}

.ant-menu-submenu-popup>.ant-menu {
  background-color: #0c8bb0 !important;
  text-align: right !important;
  max-width: 100px !important;
}

.ant-menu-light .ant-menu-item:hover,
.ant-menu-light .ant-menu-item-active,
.ant-menu-light .ant-menu:not(.ant-menu-inline) .ant-menu-submenu-open,
.ant-menu-light .ant-menu-submenu-active,
.ant-menu-light .ant-menu-submenu-title:hover {
  color: $white-base !important;
}

@media screen and (max-width: 1200px) {
  .login-header {

    .img1,
    .img3 {
      display: none;
    }

    section {
      width: 100%;
    }
  }
}
