@font-face {
  font-family: IRANSans;
  src: url('./../assets/fonts/IRANSansWeb(FaNum)_Medium.eot');
  src: url('./../assets/fonts/IRANSansWeb(FaNum)_Medium.eot') format('embedded-opentype'),
    url('./../assets/fonts/IRANSansWeb(FaNum)_Medium.woff') format('woff'),
    url('./../assets/fonts/IRANSansWeb(FaNum)_Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: yekan;
  src: url('./../assets/fonts/IRANSansWeb_UltraLight.eot');
  src: url('./../assets/fonts/IRANSansWeb_UltraLight.eot') format('embedded-opentype'),
    url('./../assets/fonts/IRANSansWeb_UltraLight.woff') format('woff'),
    url('./../assets/fonts/IRANSansWeb_UltraLight.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: yekan;
  src: url('./../assets/fonts/IRANSansWeb_Bold.eot');
  src: url('./../assets/fonts/IRANSansWeb_Bold.eot') format('embedded-opentype'),
    url('./../assets/fonts/IRANSansWeb_Bold.woff') format('woff'),
    url('./../assets/fonts/IRANSansWeb_Bold.eot') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: w-yekan;
  src: url('./../assets/fonts/IRANSansWeb(FaNum).eot');
  src: url('./../assets/fonts/IRANSansWeb(FaNum).eot') format('embedded-opentype'),
    url('./../assets/fonts/IRANSansWeb(FaNum).woff') format('woff'),
    url('./../assets/fonts/IRANSansWeb(FaNum).ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
