$white-base: #fff;
$black-base: #000;

$gray-background-base: #f5f5f5;
$gray-light: #eee;
$gray-border-box: #ccc;
$gray-middle: gray;
$gray-sidebar: #262626;
$gray-border: #ddd;
$gray-placeholder: #888;
$black-input: #212121;

$blue-glowing: #1679aa;
$blue-dark: #079ce5;
$blue-input: #024158;
$blue-btn: #3f51b5;
$green-color-base: #00838f;

$red-base: #ed4e2a;
$red-error: #d50002;
$yellow-warning: #ef6c00;
$orange-menu: #fb6e52;
$error-text: #ff4630;
$yellow-bg: rgb(255 255 0 / 18%);
$error-bg: rgb(254 0 0 / 14%);
$valid-text: #39bc00;
$valid-bg: rgb(15 179 0 / 14%);
$orange-bg: rgb(239, 108, 0, 0.18);
$orange-text: #ef6c00;
$plus-btn: #53a93f;

$font-menu: 13px;
$font-small: 12px;
$font-icon: 20px;
$drawer-margin: 280px;
$header-height: 45px;
